<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[兔子]</key>
	<string>d_tuzi.png</string>
	<key>[熊猫]</key>
	<string>d_xiongmao.png</string>
	<key>[给力]</key>
	<string>f_geili.png</string>
	<key>[神马]</key>
	<string>f_shenma.png</string>
	<key>[浮云]</key>
	<string>w_fuyun.png</string>
	<key>[威武]</key>
	<string>f_v5.png</string>
	<key>[围观]</key>
	<string>o_weiguan.png</string>
	<key>[呵呵]</key>
	<string>d_hehe.png</string>
	<key>[嘻嘻]</key>
	<string>d_xixi.png</string>
	<key>[哈哈]</key>
	<string>d_haha.png</string>
	<key>[爱你]</key>
	<string>d_aini.png</string>
	<key>[晕]</key>
	<string>d_yun.png</string>
	<key>[泪]</key>
	<string>d_lei.png</string>
	<key>[馋嘴]</key>
	<string>d_chanzui.png</string>
	<key>[抓狂]</key>
	<string>d_zhuakuang.png</string>
	<key>[哼]</key>
	<string>d_heng.png</string>
	<key>[可爱]</key>
	<string>d_keai.png</string>
	<key>[怒]</key>
	<string>d_nu.png</string>
	<key>[汗]</key>
	<string>d_han.png</string>
	<key>[害羞]</key>
	<string>d_haixiu.png</string>
	<key>[睡觉]</key>
	<string>d_shuijiao.png</string>
	<key>[钱]</key>
	<string>d_qian.png</string>
	<key>[偷笑]</key>
	<string>d_touxiao.png</string>
	<key>[酷]</key>
	<string>d_ku.png</string>
	<key>[衰]</key>
	<string>d_shuai.png</string>
	<key>[吃惊]</key>
	<string>d_chijing.png</string>
	<key>[闭嘴]</key>
	<string>d_bizui.png</string>
	<key>[鄙视]</key>
	<string>d_bishi.png</string>
	<key>[挖鼻屎]</key>
	<string>d_wabishi.png</string>
	<key>[花心]</key>
	<string>d_huaxin.png</string>
	<key>[鼓掌]</key>
	<string>d_guzhang.png</string>
	<key>[悲伤]</key>
	<string>d_beishang.png</string>
	<key>[思考]</key>
	<string>d_sikao.png</string>
	<key>[生病]</key>
	<string>d_shengbing.png</string>
	<key>[亲亲]</key>
	<string>d_qinqin.png</string>
	<key>[怒骂]</key>
	<string>d_numa.png</string>
	<key>[太开心]</key>
	<string>d_taikaixin.png</string>
	<key>[懒得理你]</key>
	<string>d_landelini.png</string>
	<key>[右哼哼]</key>
	<string>d_youhengheng.png</string>
	<key>[左哼哼]</key>
	<string>d_zuohengheng.png</string>
	<key>[嘘]</key>
	<string>d_xu.png</string>
	<key>[委屈]</key>
	<string>d_weiqu.png</string>
	<key>[吐]</key>
	<string>d_tu.png</string>
	<key>[可怜]</key>
	<string>d_kelian.png</string>
	<key>[打哈气]</key>
	<string>d_dahaqi.png</string>
	<key>[做鬼脸]</key>
	<string>d_zuoguilian.png</string>
	<key>[失望]</key>
	<string>d_shiwang.png</string>
	<key>[顶]</key>
	<string>d_ding.png</string>
	<key>[疑问]</key>
	<string>d_yiwen.png</string>
	<key>[书呆子]</key>
	<string>d_shudaizi.png</string>
	<key>[困]</key>
	<string>d_kun.png</string>
	<key>[感冒]</key>
	<string>d_ganmao.png</string>
	<key>[拜拜]</key>
	<string>d_baibai.png</string>
	<key>[黑线]</key>
	<string>d_heixian.png</string>
	<key>[阴险]</key>
	<string>d_yinxian.png</string>
	<key>[愤怒]</key>
	<string>d_fennu.png</string>
	<key>[男孩儿]</key>
	<string>d_nanhaier.png</string>
	<key>[女孩儿]</key>
	<string>d_nvhaier.png</string>
	<key>[奥特曼]</key>
	<string>d_aoteman.png</string>
	<key>[猪头]</key>
	<string>d_zhutou.png</string>
	<key>[握手]</key>
	<string>h_woshou.png</string>
	<key>[耶]</key>
	<string>h_ye.png</string>
	<key>[good]</key>
	<string>h_good.png</string>
	<key>[弱]</key>
	<string>h_ruo.png</string>
	<key>[不要]</key>
	<string>h_buyao.png</string>
	<key>[ok]</key>
	<string>h_ok.png</string>
	<key>[赞]</key>
	<string>h_zan.png</string>
	<key>[来]</key>
	<string>h_lai.png</string>
	<key>[haha]</key>
	<string>h_haha.png</string>
	<key>[拳头]</key>
	<string>h_quantou.png</string>
	<key>[最差]</key>
	<string>h_zuicha.png</string>
	<key>[月亮]</key>
	<string>w_yueliang.png</string>
	<key>[太阳]</key>
	<string>w_taiyang.png</string>
	<key>[微风]</key>
	<string>w_weifeng.png</string>
	<key>[沙尘暴]</key>
	<string>w_shachenbao.png</string>
	<key>[下雨]</key>
	<string>w_xiayu.png</string>
	<key>[雪]</key>
	<string>w_xue.png</string>
	<key>[雪人]</key>
	<string>w_xueren.png</string>
	<key>[落叶]</key>
	<string>w_luoye.png</string>
	<key>[鲜花]</key>
	<string>w_xianhua.png</string>
	<key>[心]</key>
	<string>l_xin.png</string>
	<key>[伤心]</key>
	<string>l_shangxin.png</string>
	<key>[爱心传递]</key>
	<string>l_aixinchuandi.png</string>
	<key>[互粉]</key>
	<string>f_hufen.png</string>
	<key>[萌]</key>
	<string>f_meng.png</string>
	<key>[囧]</key>
	<string>f_jiong.png</string>
	<key>[织]</key>
	<string>f_zhi.png</string>
	<key>[帅]</key>
	<string>f_shuai.png</string>
	<key>[喜]</key>
	<string>f_xi.png</string>
	<key>[围脖]</key>
	<string>o_weibo.png</string>
	<key>[温暖帽子]</key>
	<string>o_wennuanmaozi.png</string>
	<key>[手套]</key>
	<string>o_shoutao.png</string>
	<key>[绿丝带]</key>
	<string>o_lvsidai.png</string>
	<key>[红丝带]</key>
	<string>o_hongsidai.png</string>
	<key>[蛋糕]</key>
	<string>o_dangao.png</string>
	<key>[咖啡]</key>
	<string>o_kafei.png</string>
	<key>[西瓜]</key>
	<string>o_xigua.png</string>
	<key>[冰棍]</key>
	<string>o_bingun.png</string>
	<key>[干杯]</key>
	<string>o_ganbei.png</string>
	<key>[蜡烛]</key>
	<string>o_lazhu.png</string>
	<key>[发红包]</key>
	<string>o_fahongbao.png</string>
	<key>[汽车]</key>
	<string>o_qiche.png</string>
	<key>[飞机]</key>
	<string>o_feiji.png</string>
	<key>[自行车]</key>
	<string>o_zixingche.png</string>
	<key>[礼物]</key>
	<string>o_liwu.png</string>
	<key>[照相机]</key>
	<string>o_zhaoxiangji.png</string>
	<key>[手机]</key>
	<string>o_shouji.png</string>
	<key>[风扇]</key>
	<string>o_fengshan.png</string>
	<key>[话筒]</key>
	<string>o_huatong.png</string>
	<key>[钟]</key>
	<string>o_zhong.png</string>
	<key>[足球]</key>
	<string>o_zuqiu.png</string>
	<key>[电影]</key>
	<string>o_dianying.png</string>
	<key>[音乐]</key>
	<string>o_yinyue.png</string>
	<key>[实习]</key>
	<string>o_shixi.png</string>
</dict>
</plist>
